// ag-grid header background-color change
@import './function';
@import './var';
@import './mixin';

.ag-header-viewport{
  @include colorPicker(background-color, '#F6F8FA');
}

//*ag-grid header background-color change



// ag-grid sortring icon change
.ag-header-cell-sortable{
  .ag-header-cell-sorted-none{
    .ag-sort-none-icon{
      &:hover{
        &:before{
          @include colorPicker(background-color,lightgray-2);
        }
      }
      &:active{
        &:before{
          @include colorPicker(background-color,lightgray-1);
        }
      }
      &:before{
        content:'';
        width:16px;
        height:16px;
        border-radius:4px;
        display:inline-block;
        background:url(/static/svg/ag-grid-sort-default.svg) no-repeat;
        background-size:8px 12px;
        background-position: center center;
        margin-bottom: 3.5px;
      }
      .ag-icon-none{
        display: none !important;
      }
    }
  }

  .ag-header-cell-sorted-asc{
    .ag-icon-asc{
      &:hover{
        &:before{
          @include colorPicker(background-color,lightgray-2);
        }
      }
      &:active{
        &:before{
          @include colorPicker(background-color,lightgray-1);
        }
      }
      &:before{
        content:'';
        width:16px;
        height:16px;
        border-radius:4px;
        display:inline-block;
        background:url(/static/svg/ag-grid-sort-asc.svg) no-repeat;
        background-size:8px 12px;
        background-position: center center;
      }
    }

  }
  .ag-header-cell-sorted-desc{
    .ag-icon-desc{
      &:hover{
        &:before{
          @include colorPicker(background-color,lightgray-2);
        }
      }
      &:active{
        &:before{
          @include colorPicker(background-color,lightgray-1);
        }
      }
      &:before{
        content:'';
        width:16px;
        height:16px;
        border-radius:4px;
        display:inline-block;
        background:url(/static/svg/ag-grid-sort-desc.svg) no-repeat;
        background-size:8px 12px;
        background-position: center center
      }
    }
  }
}

.ag-theme-bootstrap {
  .ag-group-expanded {
    .ag-icon-contracted:empty {
      cursor: pointer;
      &:before {
      content: '' !important;
        display: inline-block;
        transform: translateY(-5px);
        width: 12px;
        height: 5px;
        background: url(/static/svg/icon-vendor-arrow.svg) no-repeat;
        background-size: cover;
      }
    }
  }

  .ag-icon-expanded {
    cursor: pointer;
    &:before {
      content: '' !important;
      display: inline-block;
      width: 12px;
      height: 5px;
      background: url(/static/svg/icon-vendor-arrow.svg) no-repeat;
      background-size: cover;
      transform: translateY(-5px) rotate(270deg);
    }
  }
}

//*ag-grid sortring icon change
