@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .material-icons {
    margin-top: 4px !important;
  }
  .custom-btn-arrow-drop-down {
    bottom: 0
  }
  .no-data-content {
    margin-top: 3px!important;
  }
  .ie-dashboard-checkbox {

  }
  .input-group {
    .close {
      padding: 3px 2px 1px 2px !important;
    }
  }
  .cost-analytics-table {
    .cost-analytics-single-table-container {
      .ag-body-viewport {
        overflow-y: hidden !important;
      }
      .ag-center-cols-viewport {
        overflow-x: hidden !important;
      }
      .ag-floating-bottom {
        overflow-y: hidden !important;
      }
    }
  }
  .cost-analytics-detail-table {
    #view-option-cost-analytics-detail {
      margin-top: 0 !important;
    }
  }
  #add-widget-wrapper {
    #custom-popover-container {
      .popover {
        left: -6px !important;
      }
    }
  }
  #cost-analytics-header-wrapper {
    &.title-cost-analytics {
      #title {
        .row-checkbox-group-displaying {
          width: auto!important;
        }
      }
    }
  }
  // hotspot on cost analytics page
  .base-hotspot-container {
    &.in-view-by-option {
      margin-top: 0 !important;
      left: 130px !important;
      margin-left: 0 !important;
    }
    &.in-datetime-picker {
      margin-left: 0 !important;
      left: 210px !important;
    }
  }

  .create-dashboard {
    margin-left: 0 !important;
    left: 200px !important;
  }
  .delete-dashboard-hidden {
    .dropdown-menu {
      display: none;
      &.show {
        display: block;
      }
    }
  }
  .delete-dashboard-hidden {
    .dropdown-menu {
      display: none;
    }
  }
  #header {
    .header-icon-right {
      .header-right-back-link {
        .material-icons {
          top: 3px!important;
        }
      }
    }
    .search-filter-first {
      .material-icons {
        top: 4px;
      }
      .custom-close-text {
        margin-left: 2.5px !important;
        margin-top: 3.5px !important;
      }
    }
    .multiselect {
      .multiselect__tags {
        .multiselect__input {
          background: transparent;
        }
        .multiselect__placeholder {
          width: 100%;
        }
      }
    }
  }
  :-ms-input-placeholder {
    color: #b0b7bf !important;
    font-size: 14px;
  }
  ::placeholder {
    color: #b0b7bf;
    font-size: 14px;
  }

  .dashboard-widget-header-right {
    padding-top: 10px;
  }
  .portion-right-header-mr-bottom {
    .dropdown-button {
      margin-top: -2px;
    }
  }
  .abnormal-change-header-right {
    padding-top: 0 !important;
  }
  .dashboard-widget-header-right {
    .dropdown-button {
      margin-top: 13px !important;
    }
  }
  .loading-wrapper-center {
    right: auto!important;
  }
  .total-cost-arrow .material-icons {
    left: -1px!important;
  }
  .cost-analytics-detail-title-wrapper {
    .total-cost-info {
      .total-cost-title {
        .total-cost-arrow {
          .material-icons {
            left: -3px!important;
          }
        }
      }
    }
  }

  .date-range-picker-calendar-col {
    max-width: 245.5px !important;
  }

  .cost-analytics-filter-interaction {
    .cost-analytics-filter-interaction-ul {
      .material-icons {
        margin-top: 0 !important;
      }
      .custom-option-text {
        .custom-delete-button {
          height: 14px !important;
        }
      }
      .custom-arrow-drop-down-button {
        line-height: 14px;
      }
    }
  }
}
