@charset "utf-8";
/**
 * variable
 */
$font-base-stack: 'NotoSansCJKkr-Regular', 'Apple SD Gothic', sans-serif;
$font-special-stack: 'Montserrat-Regular', 'Noto Sans Korean', 'Apple SD Gothic', sans-serif;


$font-family-base: $font-base-stack;
$input-font-family : $font-base-stack;


// font-size 16px to rem

$header-height : 2.5rem; //40px;
$gnb-width: 3.125rem; //50px;
$title-header: 4.375rem; // 70px;
$overlap : 0.625rem; // 10px;

$container-padding-top: $header-height + $title-header;


$font-size-base: 0.75rem;
$font-size-default: 1rem;

$h1-font-size:                $font-size-default * 1.25;
$h2-font-size:                $font-size-default;
$h3-font-size:                $font-size-default * 0.875;
$h4-font-size:                $font-size-base;
$h5-font-size:                $font-size-base;
$h6-font-size:                $font-size-base;


$border-radius: rem(2);
$border-radius-lg: rem(2);
$border-radius-sm: rem(2);
$input-btn-padding-y-sm: .219rem;

// card border-radius 4px;


$card-border-radius : 0.25rem;


//mcmp z-index set
$z-layers: (
	'modal':            1000,
	'modaless':          900,
  'header' :           900,
	'gnb':	             800,
  'title' :            600,
	'dropdown':          500,
	'hover':             200,
	'tooltip':           100,
	'default':             1,
	'bottomless-pit': -10000
);



//mcmp theme-color set from vue bootstrap theme-color set
$theme-colors: ();
$theme-colors: map-merge(
  (
    'black-1' : #000000,
    'white-1' : #ffffff,
    'darkgray-1' : #222222,
    'darkgray-2' : #4A5059,
    'gray-1' : #898D94,
    'gray-2' : #B8BFCA,
    'gray-3' : #6C7994,
    'gray-4' : #dfe3e8,
    'lightgray-1' : #D5DAE0,
    'lightgray-2' : #F2F4F6,
  	'lightgray-3' : #E8EBEF,
    'darkblue-1' : #112E5F,
    'darkblue-2' : #1155CB,
    'blue-1' : #0672FF,
    'blue-2' : #1EA4FF,
    'lightblue-1' : #ADDEFF,
    'lightblue-2' : #E0F3FF,
    'darkgreen-1' : #214A0C,
    'darkgreen-2' : #428C17,
    'green-1' : #6CB41E,
    'green-2' : #94D949,
    'lightgreen-1' : #C8ED7E,
    'lightgreen-2' : #E8FFBB,
    'darkyellow-1' : #62380E,
    'darkyellow-2' : #BA7A15,
    'yellow-1' : #F5A323,
    'yellow-2' : #FFC34C,
    'lightyellow-1' : #FFE17F,
    'lightyellow-2' : #FFF4C8,
    'darkred-1' : #66121D,
    'darkred-2' : #BF2236,
    'red-1' : #FF2D47,
    'red-2' : #FF7384,
    'lightred-1' : #FFC9D3,
    'lightred-2' : #FFEBF0,
    'paging-btn' : #7b8088,
    'transparent' : transparent
  ),
  $theme-colors
);

$spacer: 1rem;
$spacers: ();
// stylelint-disable-next-line scss/dollar-variable-default
// button in text spacing : 1 equal 4px;
$spacers: map-merge(
  (
		8 : ($spacer * 0.5), // 8px equal 2 - button spacing
		10 : $spacer * 0.625, // 10px
		12 : $spacer * 0.75, // 12px
		16 : $spacer, //16px equal 3
    20: ($spacer * 1.25), // 20px layout - card spacing
    32 : ($spacer * 2), // 32px - section spacing
		"minus-4" : -($spacer * 0.25),
		"minus-8" : -($spacer * 0.5),
		"minus-10" : -($spacer * 0.625),
		"minus-12" : -($spacer * 0.75),
		"minus-16" : -($spacer),
		"minus-20" : -($spacer * 1.25),
		"minus-32" : -($spacer * 2),
  ),
  $spacers
);

$border-width : 1px;
$border-setting:();
$border-setting: map-merge(
  (
		2 : ($border-width * 2),
		3 : ($border-width * 3),
		4 : ($border-width * 4),
		5 : ($border-width * 5),
		6 : ($border-width * 6),
		7 : ($border-width * 7),
		8 : ($border-width * 8),
		9 : ($border-width * 9),
		10 : ($border-width * 10)
  ),
  $border-setting
);

$border-style : ();
$border-style : map-merge(
	(
		'solid' : solid,
		'dashed' : dashed,
		'dotted' : dotted,
	),
	$border-style
);



$font-weight: ();
$font-weight: map-merge(
(
  'bold' : 700,
  'medium' : 500,
  'regular' : 400,
  'light' : 300,
),
$font-weight
);

$base-font-size: ();
$base-font-size: map-merge(
(
  11 : 0.688rem,
  12 : 0.75rem,
  14 : 0.875rem,
  16 : 1rem,
  20 : 1.25rem,
  24 : 1.5rem,
  28 : 1.75rem,
  32 : 2rem,
  36 : 2.25rem,
  40 : 2.5rem,
),
$base-font-size
);

$footer-color-light-gray: #E5E8ED;
$footer-color-gray: #d5dae0;
$footer-color-dark-gray: #7b8088;
