<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mcmp.cost.ncp.collector.mapper.AlarmHistoryMapper">

    <insert id="insertAlarmHistory" parameterType="com.mcmp.cost.ncp.collector.dto.AlarmHistoryDto">
        INSERT INTO alarm_history (
            event_type,
            resource_id,
            resource_type,
            occure_dt,
            account_id,
            urgency,
            plan,
            note,
            occure_date,
            csp_type,
            alarm_impl,
            project_cd
        ) VALUES (
                     #{eventType},
                     #{resourceId},
                     #{resourceType},
                     #{occureDt},
                     #{accountId},
                     #{urgency},
                     #{plan},
                     #{note},
                     #{occureDate},
                     #{cspType},
                     'mail',
                     #{projectCd}
                 )
    </insert>

</mapper>