@import './var';

#footer {
  position: absolute;
  bottom:0;
  //z-index: 5;
  z-index: 999999999999999!important;
  background-color: white;
  padding-right: 18px;
  padding-left: 52px;
  width: 100%;
  height: 35px;
  border-top: 1px solid #e8ebef;
  color: $footer-color-dark-gray;
  margin-top: 32px;
  &.side-bar-opened {
    @media (min-width: 1025px) {
      padding-left: 292px;
    }
  }
  .custom-dropdown {
    height: 24px;
    border-radius: 4px;
    margin-left: 14px;
    .dropdown-toggle {
      border-radius: 4px;
      &:hover {
        background-color: $footer-color-light-gray;
      }
      &::after {
        color: $footer-color-dark-gray;
        margin: 10px 6px 10px 8px;
        content: "";
        border-top: 0;
        border-right: 0.4em solid transparent;
        border-bottom: 0.4em solid;
        border-left: 0.4em solid transparent;
      }
    }
    &.show {
      .dropdown-toggle {
        border-radius: 4px;
        background-color: $footer-color-gray;
        &::after {
          color: $footer-color-dark-gray;
          margin: 3px 6px 0 8px;
          content: "";
          border-top: 0.4em solid;
          border-right: 0.4em solid transparent;
          border-bottom: 0;
          border-left: 0.4em solid transparent;
        }
      }
    }
    .current-language {
      color: $footer-color-dark-gray;
      font-size: 12px;
    }
    .dropdown-toggle {
      padding: 0 0 0 6px;
    }
    .dropdown-menu {
      height: 130px;
      width: 80px;
      min-width: 80px;
      padding: 2px 0;
      font-size: 14px;
      border-radius: 4px;
      box-shadow: 0 3px 12px 2px rgba(124, 129, 148, 0.25);
      &.show {
        transform: translate3d(0px, -130px, 0px)!important;
      }
      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        height: 168px;
        &.show {
          top: -166px!important;
          transform: translate3d(0px, 0px, 0px)!important;
          li {
            height: 40px;
          }
        }
      }
      @supports (-ms-ime-align:auto) {
        &.show {
          top: -166px!important;
          transform: translate3d(0px, 0px, 0px)!important;
        }
      }
      li {
        &:hover {
          background-color: #f5f6fa;
        }
        cursor: pointer;
        .b-dropdown-form {
          height: 40px;
          padding: 8px 0 0 12px;
        }
      }
    }
  }
  .utils {
    font-size: 11px;
    .policy {
      margin-right: 27px;
      a {
        cursor: pointer;
        text-decoration: none;
        color: $footer-color-dark-gray;
        height: 24px;
        padding: 3.5px 6px;
        border-radius: 4px;
        &:hover {
          background-color: $footer-color-light-gray;
        }
        &:focus {
          background-color: $footer-color-gray;
        }
      }
      .vertical-stick {
        margin-right: 6px;
        &::after {
          display: inline-block;
          position: absolute;
          top: 12px;
          width: 2px;
          height: 10px;
          margin-left: 8px;
          content: '';
          background-color: #e8ebef;
        }
      }
    }
    .company-info {
      color: #b0b7bf;
    }
  }
}
