.loading-wrapper {
  background-color: #FFF;
  color: #333;
  font-size: 25px;
  .loading-items {
    display: flex;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    .spinner-icon {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin-top: 4px;
      background: radial-gradient(#ffffff 35%, transparent 1px),
      conic-gradient(
        rgba(75,222,255,0.2),
        rgba(75,222,255,0.5) 30%,
        rgba(34,165,247,0.7) 55%,
        rgba(38, 187, 240, 1) 82%,
        rgba(38, 187, 240, 0) 80%
      );
      -webkit-animation: spin 0.7s linear infinite; /* Safari */
      animation: spin 0.7s linear infinite;
    }
    @-webkit-keyframes spinner-icon {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    @keyframes spinner-icon {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
    .text {
      font-family: NotoSansCJKkr;
      font-size: 14px;
      color: #7b8088;
      margin-left: 7px;
    }
  }
}
@-moz-document url-prefix() {
   .loading-items {
     display: flex;
     position: absolute;
     top: 50%;
     right: 50%;
     transform: translate(50%, -50%);
     .spinner-icon {
       border: 6px solid #f3f3f3;
       border-radius: 50%;
       border-top: 6px solid #26bbf0;
       width: 10px;
       height: 10px;
       -webkit-animation: spin 1s linear infinite;
       animation: spin 1s linear infinite;
     }
   }
 }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .loading-items {
    display: flex;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    .spinner-icon {
      border: 6px solid #f3f3f3;
      border-radius: 50%;
      border-top: 6px solid #26bbf0;
      width: 10px;
      height: 10px;
      -webkit-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
    }
  }
}
@supports (-ms-ime-align: auto) {
  .loading-items {
    display: flex;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    .spinner-icon {
      border: 6px solid #f3f3f3;
      border-radius: 50%;
      border-top: 6px solid #26bbf0;
      width: 10px;
      height: 10px;
      -webkit-animation: spin 1s linear infinite;
      animation: spin 1s linear infinite;
    }
  }
}
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
    .loading-items {
      display: flex;
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%, -50%);
      .spinner-icon {
        border: 6px solid #f3f3f3;
        border-radius: 50%;
        border-top: 6px solid #26bbf0;
        width: 10px;
        height: 10px;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
      }
    }
  }
}
