@import './base/function';
@import './base/var';
@import './base/mixin';

$min-width : 900px;

html,body,ul,li,ol{ padding: 0; margin: 0; }
a{ text-decoration: none; }
body{ height: 100vh;}
pre[class*="language-"],code[class*="language-"]{
  line-height: 1.3;
  color: black;
  /* text-shadow: 0 1px white; */
  font-family: $font-special-stack;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.4;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 20px 10px 0;
}
pre[class*="language-"]{
  border: solid 1px rgba(51,51,51,0.12);
  background: rgba(246,246,246,0.2);
  &:before{
    position: absolute;
    padding: 1px 5px;
    background: #e8e6e3;
    top: 0;
    left: 0;
    font-family: $font-special-stack;
    -webkit-font-smoothing: antialiased;
    color: #555;
    content: attr(class);
    font-size: .9rem;
    border: solid 1px rgba(51,51,51,0.12);
    border-top: none;
    border-left: none;
  }
}
.token.property, .token.tag, .token.boolean, .token.number, .token.constant, .token.symbol, .token.deleted{
  color: #905;
}
.token.selector, .token.attr-name, .token.string, .token.char, .token.builtin, .token.inserted{
  color: #690;
}
.token.atrule, .token.attr-value, .token.keyword{
  color: #07a;
}
.language-markup{
  position: relative;
  overflow-x: auto;
}
.container{
    position: relative;
    min-width: $min-width;
    margin: 0 auto;
    &.reference{
      padding-left: 300px;
      @media (min-width: 1500px){
        max-width: 80%;
      }
      @media (min-width: 1800px){
        max-width: 70%;
      }
    }
    .side-fiexed{
      position: fixed;
      width: 300px;
      background-color: #fff;
      z-index: 500;
      left: 0;
      top: 0;
      height: 100%;
      border-right: 1px solid rgba(0,0,0,0.14);
      h2{ margin-bottom: 0px; line-height: 100px; vertical-align: middle; font-size: 24px;
        p,span{ display: inline-block; line-height: normal; }
      }
      ul{
        li{
          font-size: 13px;
          line-height: 44px;
          height: auto;
          &.active{
            background-color: rgba(50,50,50,0.06);
            & > a{
              background-color: #000;
              color: #fff;
            }
            &:hover{
              background-color: rgba(50,50,50,0.06);
              & > a{
                background-color: #000;
                color: #fff;
              }
            }
          }
          & a{
            color: #000;
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            height: 44px;
            line-height: 44px;
            padding: 0 32px;
            text-align: left;
            width: 100%;
            &:hover{
              background-color: rgba(0,0,0,0.05);
            }
          }
          .sub-menu{
            a{
              color: #666;
              &.active{
                background-color: rgba(0,0,0,0.1);
              }
            }
          }
        }
      }
    }

    .content{
      text-align: left;
      padding: 30px;
      section,table{
        margin-top: 20px;
      }
      code{
        font-size: .75rem;
        font-weight: 400;
        line-height: 1rem;
        letter-spacing: .32px;
        position: relative;
        display: inline;
        padding: .0625rem .5rem;
        background: transparent;
      }
      section{
        ///
        table{ width: 100%;
          thead{
            tr{
              td,th{
                background-color: #000;
                color: #fff;
                padding: 1rem;
              }
            }
          }
          tr{
            td{
              font-size: .875rem;
              font-weight: 400;
              line-height: 1.125rem;
              letter-spacing: .16px;
              color: #171717;
              padding: 1rem;
              background-color: #f9f9f9;
              border-bottom: 1px solid #dfdfdf;
              code{
                border-radius: 4px;
                background-color: #dcdcdc;
              }
            }
          }
          ///
        }
      }
      .example{
        position: relative;
        padding: 20px 0;
      }
    }
}
  .base-button-default{
    height:32px;
    line-height:32px;
    padding:0 8px;
    border-radius: 2px;
    font-size:rem(14);
    min-width:100px;
    &[disabled]{
      cursor:not-allowed;
      opacity:.8;
    }

    &.base-button-xsmall{
      height:20px;
      line-height:20px;
      font-size:rem(11);
      min-width:54px;
    }
    &.base-button-small{
      height:24px;
      line-height:24px;
      font-size:rem(12);
      min-width:80px;
    }
    &.base-button-large{
      height:40px;
      line-height:40px;
    }

    &.base-button-ghost{
      background:transparent;
      color:#666666;
    }

    &.base-button-fill{
      background:transparent;
      color:#fff;
      @each $color, $value in $theme-colors {
        &.color-#{$color} {
          @include eachColorPicker(color,$value)
        }
      }
    }

    &.base-button-border{
      border:1px solid transparent;
    }
  }
